<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect jika bukan file/direktori yang valid
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Redirect ke HTTPS hanya jika akses masih HTTP
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>